.cartContainer {
  width: 300px;
  border-left: 1px solid #ddd;
  padding: 1rem;
  overflow-y: auto;
}

.cartContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
